:root {
    --success: green;
    --danger: red;
    --border: 2px solid grey;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
}
main {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    section {
        border: var(--border);
        padding: 20px;
        border-radius: 25px;
        box-shadow: 5px 5px 5px grey;
        width: 90%;
        background-color: rgb(0, 0, 0);
        color: white;
        h1 {
            margin-top: 0.5rem;
            text-align: center;
        }
        #img {
            text-align: center;
            img {
                width: 80px;
                border-radius: 50%;
                border: 2px solid white;
            }
        }
        form {
            > div {
                margin-bottom: 1rem;
            }
            input,
            select {
                &:not([type="checkbox"]) {
                    width: 100%;
                    font-size: 1.5rem;
                    border-radius: 18px;
                    border: var(--border);
                    padding: 5px 10px;
                }

                &.is-valid {
                    ~ .valid {
                        display: initial;
                    }
                }
                &.is-invalid {
                    ~ .invalid {
                        display: initial;
                    }
                    ~ .invalid-feedback {
                        display: block;
                    }
                }
            }
            .input-group {
                position: relative;
                .valid,
                .invalid {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    display: none;
                }
            }
            .invalid-feedback {
                color: var(--danger);
                display: none;
            }
            #btn {
                text-align: center;
                button {
                    border: var(--border);
                    border-radius: 18px;
                    padding: 5px 10px;
                }
            }
        }
    }
}
img {
    width: 100%;
    vertical-align: middle;
}
